<!DOCTYPE html>
<html>
    <head>
		<meta charset="windows-1251">
		<title>Транслитерация</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
   </head>
    <body>
	 <div class="container">
		<ul class="nav nav-tabs">
				<li><a href="http://127.0.0.1">Главная</a></li>
				<li class="active"><a href="http://127.0.0.1/lenta">Транслитерация Lenta.ru</a></li>
				<li><a href="http://127.0.0.1/qst">Вопросы</a></li>
		 </ul>
	 </div>
		<p>{{ lenta }}</p>
		<div align = center>
			<form method='GET' action="/">
			<h1><input type='submit' value='Вернуться на главную страницу'></h1>
			</form>
		</div>
	<div class="row">     
		 <p> ©  Кромина Анастасия,  2017 | Все права защищены.</p>
	</div>
<!-- javascript -->
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>