<!doctype html>
<html>
<head>
    <meta charset="windows-1251">
    <title>Замена персонажей</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
 <div class="container">
  	<ul class="nav nav-tabs">
        	<li class="active"><a href="http://127.0.0.1">Главная</a></li>
     </ul>
 <!-- строка 1 -->
	<div align = center>
		<p><h1>Новый текст с новыми персонажами!</h1></p>
	</div>

	<div align = center>
		<p>{{ rezult }}</p> 
	</div>	
<div class="row">     
	 <p> ©  Кромина Анастасия,  2018 | Все права защищены.</p>
</div>

</div>
<!-- javascript -->
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
