<!DOCTYPE html>
<html>
    <head>
	    <meta charset='utf-8'>
	    <title>mmm</title>
    </head>
    <body>
      <p><b>Здравствуйте!</b><br><br>
      Просим Вас поучаствовать в небольшом опросе, посвященном ударению в русском языке.<br>
      Для каждого из приведенных ниже слов выберете вариант ударения, который используете Вы.</p><br><br>
      <form method='GET' action="">
        <b>1) </b>ТвОрог<input type='radio' name='tv' value='tvOrog'> - ТворОг<input type='radio' name='tv' value='tvorOg'><br><br>
        <b>2) </b>Свёкла<input type='radio' name='sv' value='svEkla'> - СвеклА<input type='radio' name='sv' value='sveklA'><br><br>
        <b>3) </b>ЩАвель<input type='radio' name='sc' value='schAvel'> - ЩавЕль<input type='radio' name='sc' value='schavEl'><br><br>
        <p><b>Укажите, пожалуйста, свои данные:</b></p><br>
        dddddddddddddddddddddddddd
        <input type='radio' name='sex' value='female'>Женский
        <input type='radio' name='sex' value='male'>Мужской<br><br>
        Образование:
        <input type='radio' name='education' value='mid'>Среднее
        <input type='radio' name='education' value='mid_prof'>Среднее специальное
        <input type='radio' name='education' value='high_nf'>Неоконченное высшее
        <input type='radio' name='education' value='high'>Высшее
        <p><b>Спасибо за участие!</b></p><br>
        <input type='submit' value='Отправить'>
      </form>
   </body>
</html>