<!DOCTYPE html>
<html>
    <head>
	    <meta charset='utf-8'>
	    <title>Поиск</title>
    </head>
    <body><br><br>
      <form method='get' action='/results'>
        Я хочу узнать, как
        <select name='sex' style='display:inline-block'>
          <option value='female'>женщины</option>
          <option value='male'>мужчины</option>
        </select>
        ставят ударение в словах:
        <select name='word' style='display:inline-block'>
          <option value='Klala'>Клала</option>
          <option value='Obnyalis'>Обнялись</option>  
          <option value='Oblegchit'>Облегчить</option>  
        </select><br><br>
        <input type='submit' value='Искать'>
      </form>
    </body>
</html>