<!DOCTYPE html>
<html>
    <head>
	    <meta charset='utf-8'>
	    <title>Статистика</title>
    </head>
    <body>
	<p><b>Результаты исследования</b><p>
	В слове 'клала' ударение на первый слог поставило {{ klAla }}% респодентов, на второй слог - {{ klalA}}%  <br>
	В слове 'обнялись' ударение на первый слог поставило {{ obnAlis }}% респодентов, на второй слог - {{ obnalIs }}% <br>
	В слове 'облегчить' ударение на первый слог поставило {{ oblEgchit }}% респодентов, на второй слог - {{ oblegchIt }}% <br>
	<p><b>Как отвечали мужчины:</b></p>
	КлАла - {{ klAla_m }}% <br> 	
	КлалА - {{ klalA_m }}% <br><br>
	ОбнЯлись - {{ obnAlis_m }}% <br>
	ОбнялИсь - {{ obnalIs_m }}% <br><br>
	ОблЕгчить - {{ oblEgchit_m }}% <br>
	ОблегчИть - {{ oblegchIt_m }}% <br><br>
	<p><b>Как отвечали женщины:</b></p>
	КлАла - {{ klAla_f }}% <br> 	
	КлалА - {{ klalA_f }}% <br><br>
	ОбнЯлись - {{ obnAlis_f }}% <br>
	ОбнялИсь - {{ obnalIs_f }}% <br><br>
	ОблЕгчить - {{ oblEgchit_f }}% <br>
	ОблегчИть - {{ oblegchIt_f }}% <br><br>
	
    </body>
</html>